<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>View All Students</title>
  		<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
    </head>
    <body>
        <h1>All Students</h1>
        <table>
        	<thead>
        		<th>No</th>
        		<th>NPM</th>
        		<th>Name</th>
        		<th>GPA</th>
        	</thead>
        	<tbody>
        		<tr th:each="student,iterationStatus: ${students}">
        			<td th:text="${iterationStatus.count}"></td>
        			<td th:text="${student.npm}"></td>
        			<td th:text="${student.name}"></td>
        			<td>
        				<p th:remove="tag" th:text="${student.gpa}"></p>
        				<span th:if="${student.probation}" class="warn">Mahasiswa Dalam Probation</span>
        			</td>
        		</tr>
        	</tbody>
        </table>
    </body>
</html>
